/* 
   < Image Sprites 기법 >

- 개별 이미지 별로 로드할 때의 메모리 낭비를 최소화하기 위한 기법.
  다중 이미지를 하나로 이미지화하고 background-position 속성을 이용,
  백그라운드 이미지의 위치를 x, y 좌표를 이용하여 이동함으로써 개별
  이미지의 크기에 맞는 너비와 높이를 지정하여 로드.

===========================================================================================================

   < 그림판을 이용한 좌표 계산 >

- 그림판에서 로드할 이미지의 크기를 조사하여 background-position 속성의
  x, y 좌표를 결정할 이지지의 너비와 높이 조사.

※ 5_CSS(Cascading_Style_Sheet)-(2)_Image_sprites와IR(Image Replacement)_기법_그람판활용 - 엑셀 파일 참조
*/
li a {
    background-image: url("../image/sprites_img.JPG");

    /* 인라인 요소인 a 태그에 너비와 높이를 주기위해 인라인 블럭으로 속성 변경. */
    display: inline-block;

    /*
      로드한 이미지 파일에서 최초 "메뉴" 이미지를 로드하기 위해 그림판에서 조사한
      "메뉴" 이미지의 너비와 크기에 맞게 width 와 height 를 지정.
   */
    width: 304px;
    height: 113px;
}


/* 
   < 로드될 백그라운드 이미지가 할당된 너비나 높이 보다 큰 경우 주의 사항 >

- 로드될 백그라운드 이미지가 할당된 너비나 높이 보다 작은 경우에는 해당 좌표로 이미지를
  양수 방향으로 정상적 이동을 시키면 되지만,
  반대의 상황에서는 이미지가 지정된 너비나 높이를 벗어난 상태에서 오른쪽이나 아래쪽 이미지를
  로드하기 위해서는 좌표를 음수 방향으로 이동해야함에 주의.

※ 5_CSS(Cascading_Style_Sheet)-(2)_Image_sprites와IR(Image Replacement)_기법_주의사항 - 엑셀 파일 참조

===========================================================================================================

"카페" 이미지를 로드하기 위해 a 태그의 background-position 속성의 x 좌표를 이동.
좌표 지정 시 이미지 사이 경계 선(1px)도 포함되어 이동해야 함에 주의.

===========================================================================================================

※ 메뉴 변경 또는 삭제가 될때의 유지보수성을 위하여 "트리 구조 가상 클래서 선택자"가
   아닌 클래스 선택자 지정.
*/
/* .cafe {
    background-position-x: -305px;
}

.blog {
    background-position-x: calc(-305px * 2);
}

.knowledge {
    background-position-x: calc(-305px * 3);
} */

/* IR 기법을 적용키 위해 
텍스트를 안보이게 인덴트 설정. */
a {
    /* text-indent: -9999em; */
}

/* 리스트의 머릿 기호 삭제. */
li {
    /* list-style-type: none; */
}

/*
   브라우저에 의해 디폴트로 지정되는 ul 의 왼쪽 패딩을 삭제하여
   리스트의 들여쓰기 해제.
*/
ul {
    /* padding: 0; */
}

.mail:hover,
.cafe:hover,
.blog:hover,
.knowledge:hover {
    /* background-position-y:-114px; */
}

/* 
===========================================================================================================
*/

/* 
   < 수평 메뉴 만들기 >

- 리스트 메뉴를 가로로 배열하기 위해 블럭요소인 리스트를 인라인 블럭으로 속성 변경.
  단, 인라인 블럭요소 내에는 블럭요소(h3)를 포함 가능하여 인라인 블럭 내에서의 수평 전체
  영역을 차지하지만, 인라인 요소는 블럭요소(h3)를 포함하지 못하므로 변경한 인라인 요소
  자리를 자식인 블럭요소(h3)가 동시에 차지하게 됨으로써 수평 배치 불가.
  따라서 리스트에 대한 인라인 설정은 불가.
*/
ul:nth-of-type(2) li {
    /* display: inline-block; */
}

/* 
   수평 배열된 메뉴가 브라우저 너비 영역을 벗어났을 때, 인라인 특성으로 인한 자동 개행을
   막기 위해 nowrap 설정.
*/
ul {
    /* white-space: nowrap; */
}